{% extends 'base.html.twig' %}

{% block title %}Page Year{% endblock %}

{% block body %}
    <h1>Page Année</h1>
    <h2>Obtenir un fact sur une année</h2>

    {# 'year_post', le nom de la route du contrôlleur
    qui recevra la soumission de ce formulaire #}
    <form method="post" action="{{ path("year_post") }}">
        <div>
            <label for="year">Année :</label>

            {# l'information 'annee_choisie' sera celle utiliée pour
            capturer la donnée du formulaire côté contrôlleur #}
            <input type="text" id="year" name="annee_choisie">
        </div>
        <input type="submit" value="Valider">
    </form>

    {# bloc résultat #}
    {% if resultat_api is defined %}
        <div>
            <h2>Résultat pour {{ annee }} : </h2>
            <p>{{ resultat_api }}</p>
        </div>
    {% endif %}

{% endblock %}
