{% extends 'base.html.twig' %}

{% block title %}Page Number{% endblock %}

{% block body %}
    <h1>Page Nombre</h1>
    <h2>Obtenir un fact sur un nombre</h2>

    {# 'number_post', le nom de la route du contrôlleur
    qui recevra la soumission de ce formulaire #}
    <form method="post" action="{{ path("number_post") }}">
        <div>
            <label for="number">Nombre :</label>

            {# l'information 'nombre_choisi' sera celle utiliée pour
            capturer la donnée du formulaire côté contrôlleur #}
            <input type="text" id="number" name="nombre_choisi">
        </div>
        <input type="submit" value="Valider">
    </form>

    {# bloc résultat #}
    {% if resultat_api is defined %}
        <div>
            <h2>Résultat pour {{ nombre }} : </h2>
            <p>{{ resultat_api }}</p>
        </div>
    {% endif %}

{% endblock %}
